.titleDiv {
    display: flex;
    margin: 40px;
}

.titleDiv > div > h2 {
    margin-bottom: 40px;
}

.titleDiv > div {
    width: 50%;
}

.img {
    width: 300px;
    margin: 20px;
    border-radius: 300px;
    margin: auto;
    display: block;
}

.secondTitle {
    text-align: center;
    margin: 30px;
}
.paragraf {
    margin: 10px 30px;
}

.list {
    margin: 30px;
}

.a {
    font-size: 1rem;
    font-weight: 600;
    color: #38a7ff;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #38a7ff;
    border-radius: 20px;
    transition:
        color 0.3s,
        background-color 0.3s;
}

.a:hover {
    color: #fff;
    background-color: #38a7ff;
}

.active {
    color: #38a7ff;
    background-color: white;
    margin-top: 28px;
    padding-bottom: 35px;
    transform: scale(1.1);
}

.buttonStart {
    margin: 50px;
    text-align: center;
}
